* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header img{width: 35px !important;}

#navbarnav a{font-size:x-large!important;}


.footer-container a{color: white !important;
    margin: 5px !important ;
    padding: 5px !important;
    font-size: x-large !important; }
    .social-icons a{color: white !important;
        margin: 5px !important ;
        padding: 5px !important;
        font-size: x-large !important;}